$instrument-size: 7vw;

.main {
	flex: 2 0 0;
	//width: $main-width;


	.controls {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.instrument {
			width: $instrument-size;
			height: $instrument-size;
			margin: 0 0 1rem 1rem;
			background: rgba(255, 255, 255, 0.8);
		}
	}
}


.users {
	flex: 1 0 0;
	//width: $users-width;
	box-sizing: border-box;
	padding-left: 5vw;

	.user {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		.user-data {
			margin-left: 1rem;
			color: #fff;
		}
	}
}
