$instrument-size-landscape: 10vw;
$instrument-size-portrait: 10vh;
$instrument-font-size-factor: 0.7;

.main {
	flex: 2 0 0;

	.controls {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
        user-select: none;
        justify-content: center;

		.instrument {
			width: $instrument-size-landscape;
			height: $instrument-size-landscape;
            border-radius: 4px;
			margin: 0 0 1rem 1rem;
			background: rgba(255, 255, 255, 0.8);
            cursor: pointer;
            font-size: $instrument-size-landscape * $instrument-font-size-factor;
            line-height: $instrument-size-landscape;
            text-align: center;
            color: #666;
		}
	}
}

.users {
	flex: 1 0 0;
	box-sizing: border-box;
	padding-left: 5vw;

	.user {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		.user-data {
			margin-left: 1rem;
			color: #fff;
		}
	}
}

@media (orientation: portrait) {
    ng-view {
        flex-direction: column;
    }

    .main .controls .instrument {
        width: $instrument-size-portrait;
        height: $instrument-size-portrait;
        font-size: $instrument-size-portrait * $instrument-font-size-factor;
        line-height: $instrument-size-portrait;
    }

    .users {
        padding-left: 0;

        .user {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }

}

