@import "_pure/base";
@import "_pure/buttons";
@import "_pure/forms";


body {
	font-family: 'Roboto', sans-serif;
    background-color: #000;
    background-image: url('/img/background-large.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
input, select, textarea {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    color: #fff;
    font-weight: 400;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

ng-view {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

@import "welcome";
@import "game";
